@import "content.css";
@import "responsive.css";

@font-face {
    font-family: 'ArethaBridge';
    src: url('../fonts/ArethaBridge.otf') format('opentype');
}

@font-face {
    font-family: 'NeutralFace';
    src: url('../fonts/NeutralFace.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('opentype');
}
